<section id="testimonials" class="row testimonials bg--gray">
	<div class="col-sm-12 row__header">
		<img src="<%- imagesUri %>icon-grass.svg" class="icon" />
		<h3>Testimonials</h3>
	</div>
	<div id="testimonial__carousel" class="testimonial__carousel carousel slide" data-ride="carousel" data-interval="10000">
		<ol class="carousel-indicators">
			<li data-target="#testimonial__carousel" data-slide-to="0" class="active"></li>
			<li data-target="#testimonial__carousel" data-slide-to="1"></li>
			<li data-target="#testimonial__carousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<p class="testimonial__quote">The stone front walkway fits right in and has held up wonderfully through the last few crazy winters. The stone patio has been a great place to spend a shady afternoon and the campfire ring is a popular place to spend a chilly evening. The dry stack stone walls are fantastic and the indirect lighting provides a soft glow. Looking forward to the driveway project!</p>
				<strong class="testimonial__name">Greg Moseley</strong>
				<span class="testimonial__title">BEI Services</span>
			</div>
			<div class="item">
				<p class="testimonial__quote">I&rsquo;ve worked with Pat on several landscaping projects and know, without fail, he is the best. All our clients have been thrilled. I then asked him to build a wall and steps as an entry to our barn wherein we hold weddings and events. I knew it would be the perfect entry and I knew he would meld it into the existing wall and landscape. He nailed it. I couldn&rsquo;t recommend him more!</p>
				<strong class="testimonial__name">Katharine Brown</strong>
				<span class="testimonial__title">Fox Hill Farm</span>
			</div>
			<div class="item">
				<p class="testimonial__quote">When I first sat down with Pat to assess the needs of Maple City Apartments I was clueless.  His experience shown through as he listened to my concerns and gave me ideas.  He came up with an easy to care for landscape that not only filled my needs and financial plan but also greatly improved the curb appeal of the building.</p>
				<strong class="testimonial__name">Gail Lamberton</strong>
				<span class="testimonial__title">Maple City Apartments</span>
			</div>
		</div>
		<a class="left carousel-control" href="#testimonial__carousel" role="button" data-slide="prev">
			<span class="icon-prev" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#testimonial__carousel" role="button" data-slide="next">
			<span class="icon-next" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</section>
