<section id="services" class="row services bg--gray">
	<div class="col-sm-12 row__header clearfix">
		<img src="<%- imagesUri %>icon-wheelbarrel.svg" class="icon" />
		<h3>Services</h3>
	</div>
	<div class="col-sm-6 services__left">
		<div class="services__list services__list-one">
			<h2>Stone &amp; Hardscaping</h2>
			<img src="<%- imagesUri %>services-01.jpg" alt="Stone &amp; Hardscaping"/>
			<ul>
				<li>Retaining Walls</li>
				<li>Patios</li>
				<li>Walkways &amp; Staircases</li>
				<li>Outdoor Fireplaces</li>
				<li>Fireplaces</li>
				<li>Veneer Surfaces</li>
				<li>Stone Water Features</li>
				<li>Hand Selected Natural &amp; Cut Stone</li>
				<li>Brick Pavers</li>
			</ul>
			<br>
			<h3>Key Benefits</h3><br>
			<ul>
				<li>Increased Resale Value</li>
				<li>Expanded Living Space</li>
				<li>Reduced Yard Work</li>
				<li>Aesthetically Pleasing</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-6 services__right">
		<div class="services__list services__list-one">
			<h2>Landscaping &amp; Excavation</h2>
			<img src="<%- imagesUri %>services-02.jpg" alt="Landscaping &amp; Excavation"/>
			<ul>
				<li>Lawn Maintenance - Mowing, Trimming, Seeding, Fertilizing</li>
				<li>Shrub and Tree Planting and Removal</li>
				<li>Decorative Stone</li>
				<li>Water Gardens</li>
				<li>Rock Gardens</li>
				<li>Excavating - French Drains, Ditches, Terracing</li>
				<li>Mulch, Topsoil, Stone, Gravel</li>
				<li>Snow Plowing - Commercial and Residential</li>
			</ul>
			<br>
			<h3>Key Benefits</h3><br>
			<ul>
				<li>Increased Resale Value</li>
				<li>Expanded Living Space</li>
				<li>Reduced Yard Work</li>
				<li>Aesthetically Pleasing</li>
			</ul>
		</div>
	</div>
</section>
