<section id="about" class="row about">
	<div class="col-sm-12 row__header">
		<img src="<%- imagesUri %>icon-leaf.svg" class="icon" alt="About Brady Stone &amp; Landscaping"/>
		<h3>About</h3>
	</div>
	<div class="col-sm-12 about__content">
		<h2>Hardscape solutions that will exceed your expectations</h2>
		<p>Brady Stone &amp; Landscaping has expertly served Northeast Pennsylvania and surrounding areas since 2006 – delivering exceptional custom hardscape and landscape solutions of unequaled quality. With over 15 years of experience we treat each project as a creative challenge, while adhering to proven standards that ensure the highest structural integrity. We specialize in fireplaces, retaining and sitting walls, walkways, steps and patios as well as veneer surfaces.
			<br><br>
			The design of your project is a collaborative process. We’ll work with you to create the ultimate blend of your dreams and budget. Service. Quality. Reliability. That’s the Brady way. Let us show you how we can provide you with an expert hardscape and landscape combination that is sure to impress</p>
		<a href="#services" class="btn btn--green">View Services</a>
	</div>
</section>
